.search {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputSearch {
  height: 20px;
  background-color: #ec7c26;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 3px 3px 0 black;
}

.inputSearch::placeholder {
  color: black;
  font-weight: normal;
}

.inputSearch:hover {
  cursor: text;
}

.btnSearch {
  height: 26px;
  background-color: #ec7c26;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  box-shadow: 0 3px 3px 0 black;
}

.btnSearch:hover {
  cursor: pointer;
}

.btnSearch:active {
  transform: translateY(2px);
}
